USE [master]
GO
/****** Object:  Database [AcmeCorporationDB]    Script Date: 23/05/2018 23:02:52 ******/
CREATE DATABASE [AcmeCorporationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcmeCorporationDB', FILENAME = N'H:\Programs\MSSQL14.SQLEXPRESS\MSSQL\DATA\AcmeCorporationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcmeCorporationDB_log', FILENAME = N'H:\Programs\MSSQL14.SQLEXPRESS\MSSQL\DATA\AcmeCorporationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcmeCorporationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcmeCorporationDB]
GO
USE [AcmeCorporationDB]
GO
/****** Object:  Table [dbo].[DrawEntry]    Script Date: 23/05/2018 23:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrawEntry](
	[EntryID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[ProductSerialNumber] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
