<form action="/PrizeDrawer/NewSubmition" method="post">
    <label>First Name: </label><input type="text" name="FirstName" /><br />
    <label>Last Name: </label><input type="text" name="LastName" /><br />
    <label>Email: </label><input type="text" name="Email" /><br />
    <label>Serial Number: </label><input type="text" name="ProductSerialNumber" /><br />
    <label>Age: </label><input type="number" name="Age" /><br />
    <input type="submit" value="Submit" />

</form>